.button-yellow-wrapper {
  background-color: #caab2a;
  color: #080809;
  border: none;
  outline: none;
  width: 232px;
  height: 48px;
  font-family: Libre Caslon Text;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  padding: 12px 12px 12px 16px;
}

@media only screen and(max-width:400px) {
  .button-yellow-wrapper {
    width: 100px;
  }
}

@media only screen and(max-width:320px) {
    .button-yellow-wrapper {
      width: 70px;
    }
  }
  