.contact-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #000000;
  background-color: #1d1d1f;
  align-self: center;
  padding: 50px;
  width: 900px;
  height: 450px;
  .contact-left {
    display: flex;
    flex-direction: column;
    padding: 50px;
    h3,
    h4,
    p {
      margin: 0;
      padding: 0;
    }
    .contact-title {
      font-family: IBM Plex Sans;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      font-style: normal;
      width: 98px;
    }
    .contact-subtitle {
      font-family: Libre Caslon Text;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      font-style: normal;
      color: #caab2a;
      width: 255px;
    }
    .contact-text {
      width: 348px;
      height: 56px;
      font-family: IBM Plex Sans;
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 30px;
    }
    .contact-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      width: 300px;
      height: 80px;
      padding: 16px 22px 16px 22px;
      background-color: rgba(191, 191, 191, 0.3);
      border: 1px solid white;
      margin-top: 20px;
      font-family: IBM Plex Sans;
      font-weight: 400px;
      font-style: normal;
      font-size: 16px;
      .contact-icons {
        width: 32px;
        height: 32px;
      }
      .contact-data {
        width: 187px;
        font-family: IBM Plex Sans;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: start;
        margin-left: 15px;
      }
    }
  }
  .contact-right {
    display: flex;
    flex-direction: column;
    input {
      width: 400px;
      height: 40px;
      margin: 15px 0;
      padding: 16px 24px 16px 24px;
      font-family: IBM Plex Sans;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
    }
    textarea {
      margin: 15px 0;
      padding: 16px 24px 16px 24px;
      font-family: IBM Plex Sans;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
    }
    button {
      width: 450px;
      height: 50px;
      margin-top: 15px;
      padding: 16px 56px 16px 56px;
      background-color: #caab2a;
      border: none;
      font-family: IBM Plex Sans;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 15px;
      text-align: center;
    }
  }
}

@media only screen and(max-width:1040px) {
  .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 1050px;
    .contact-left {
      .contact-left-text {
        width: 300px;
        align-self: center;
        p {
          width: 300px;
        }
      }
      .contact-button {
        align-self: center;
      }
    }
    .contact-right {
      input,
      textarea {
        width: 255px;
        align-self: center;
      }
      button {
        width: 300px;
        align-self: center;
      }
    }
  }
}

@media only screen and(max-width:580px) {
  .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 1050px;
  }
}

@media only screen and(max-width:430px) {
  .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 1050px;
  }
}

@media only screen and(max-width:380px) {
  .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 1050px;
  }
}