.button-grey-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #BFBFBF;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    color: white;
    width: 330px;
    height: 135px;
    margin: 0 20px;
    padding: 32px 33px 32px 33px;
}

@media only screen and(max-width:1230px) {
    .button-grey-wrapper {
        margin: 10px 0;
    }
}

@media only screen and(max-width:400px) {
    .button-grey-wrapper {
        width: 200px;
    }
}

@media only screen and(max-width:320px) {
    .button-grey-wrapper {
        width: 150px;
    }
}