.footer-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  background-color: #1d1d1f;
  color: #8c8c8c;
  align-items: center;
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    .logo-div {
      width: 20%;
      padding: 0 50px;
      .logo {
        width: 125px;
        height: 120px;
      }
    }
    .back-to-top-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
      }
      .back-to-top {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
    .social-media-box {
      .social-media-icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        img {
          width: 30px;
          height: 30px;
        }
      }
      p {
        text-align: end;
      }
    }
  }
}

@media only screen and(max-width:1230px) {
  .footer-wrapper {
    .footer-content {
      padding: 0;
      .logo-div {
        padding-right: 70px;
      }
      .back-to-top-wrapper {
        padding-right: 40px;
        padding-left: 40px;
      }
      .social-media-box {
        padding-right: 50px;
      }
    }
  }
}
// @media only screen and(max-width:768px) {
//   .footer-wrapper {
//     height: 400px;
//     .footer-content {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       padding: 0;
//       padding-top: 10px;
//       .logo-div {
//         text-align: center;
//         padding: 15px 0;
//       }
//       .social-media-box {
//         padding: 15px 0;
//         .social-media-icons {
//           justify-content: center;
//         }
//       }
//     }
//   }
// }

// @media only screen and(max-width:600px) {
//   .footer-wrapper {
//     align-items: center;
//     .footer-content {
//       .logo-div {
//         text-align: center;
//         margin: 0;
//         margin-left: -6%;
//         .logo {
//           text-align: center;
//         }
//       }
//     }
//   }
// }
