.footer-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  background-color: #1d1d1f;
  color: #8c8c8c;
  align-items: center;
  justify-content: space-between;
  .logo-div {
    width: 20%;
    padding: 0 50px;
    .logo {
      width: 125px;
      height: 120px;
    }
  }
  .back-to-top-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .back-to-top {
      width: 32px;
      height: 32px;
    }
  }
  .social-media-box {
      padding: 0 50px;
    .social-media-icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      img {
        width: 30px;
        height: 30px;
      }
    }
    p {
        text-align: end;
    }
  }
}

@media only screen and(max-width:768px) {
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        height: 400px;
        align-items: center;
        padding: 0;
        padding-top: 10px;
        .logo-div {
            text-align: center;
        }
        .social-media-box {
            .social-media-icons {
                justify-content: center;
            }
        }
    }

}