.topnav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  width: 100vw;
  background-color: transparent;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 10vw;
}

.topnav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topnav .logo {
  height: 120px;
  width: 125px;
  margin: 0 45px;
}

.topnav .navlink {
  color: white;
  text-decoration: none;
  padding: 4px 32px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.topnav .navlink:hover {
  text-decoration: none;
  color: gray;
}

.topnav .navlink .row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.topnav .hamburger {
  display: none;
  cursor: pointer;
}

.topnav .mobile {
  display: none;
}

.topnav .backdrop {
  display: none;
}

@media only screen and (max-width: 1220px) {
  .topnav .nav-links {
    display: none;
  }
  .topnav .hamburger {
    display: block;
    z-index: 2;
    width: 28px;
    height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-left: 15px;
  }
  .topnav .hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 100px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .topnav .hamburger.open .bar:nth-child(1) {
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
    -webkit-transform-origin: 10% 30%;
            transform-origin: 10% 30%;
    height: 2px;
  }
  .topnav .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .topnav .hamburger.open .bar:nth-child(3) {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: 10% 20%;
            transform-origin: 10% 20%;
    height: 2px;
  }
  .topnav .mobile {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    max-width: 200px;
    height: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: auto;
  }
  .topnav .mobile .navlink {
    margin: 3px 0;
    padding: 3px 30px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 5px;
  }
  .topnav .mobile.closed {
    max-width: 0;
  }
  .topnav .backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .topnav .nav-links {
    display: none;
  }
  .topnav .info-mail {
    display: none;
  }
  .topnav .hamburger {
    display: block;
    z-index: 2;
    width: 28px;
    height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-left: 15px;
  }
  .topnav .hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 100px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .topnav .hamburger.open .bar:nth-child(1) {
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
    -webkit-transform-origin: 10% 30%;
            transform-origin: 10% 30%;
    height: 2px;
  }
  .topnav .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .topnav .hamburger.open .bar:nth-child(3) {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: 10% 20%;
            transform-origin: 10% 20%;
    height: 2px;
  }
  .topnav .mobile {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    max-width: 200px;
    height: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* padding-top: 65px; */
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: auto;
  }
  .topnav .mobile .navlink {
    margin: 3px 0;
    padding: 3px 30px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 5px;
  }
  .topnav .mobile.closed {
    max-width: 0;
  }
  .topnav .backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
  }
}

@media only screen and (max-width: 280px) {
  .topnav .nav-links {
    display: none;
  }
  .topnav .info-mail {
    display: none;
  }
  .topnav .hamburger {
    display: block;
    z-index: 2;
    width: 28px;
    height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-left: 15px;
  }
  .topnav .hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 100px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .topnav .hamburger.open .bar:nth-child(1) {
    -webkit-transform: rotate(51deg);
            transform: rotate(51deg);
    -webkit-transform-origin: 10% 30%;
            transform-origin: 10% 30%;
    height: 2px;
  }
  .topnav .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .topnav .hamburger.open .bar:nth-child(3) {
    -webkit-transform: rotate(-52deg);
            transform: rotate(-52deg);
    -webkit-transform-origin: 11% 20%;
            transform-origin: 11% 20%;
    height: 2px;
  }
  .topnav .mobile {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    max-width: 200px;
    height: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* padding-top: 65px; */
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: auto;
  }
  .topnav .mobile .navlink {
    margin: 3px 0;
    padding: 3px 30px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 5px;
  }
  .topnav .mobile.closed {
    max-width: 0;
  }
  .topnav .backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
  }
}

.homepage-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.homepage-wrapper .header-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/header-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-wrapper .header-wrapper .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage-wrapper .header-wrapper .header-content .header-pic1 {
  width: 200px;
  height: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.homepage-wrapper .header-wrapper .header-content .header-pic2 {
  width: 200px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.homepage-wrapper .header-wrapper .header-content .title {
  width: 700px;
  font-size: 88px;
  font-weight: bold;
  line-height: 96px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: Libre Caslon Text;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

.homepage-wrapper .header-wrapper .ellipse-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.homepage-wrapper .header-wrapper .ellipse-row img {
  width: 16px;
  height: 16px;
  margin: 0 7px;
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=index.css.map */