.homepage-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
  .header-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/images/header-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .header-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;
      .header-pic1 {
        width: 200px;
        height: 18px;
        align-self: center;
      }
      .header-pic2 {
        width: 200px;
        height: 50px;
        align-self: center;
      }
      .title {
        width: 700px;
        font-size: 88px;
        font-weight: bold;
        line-height: 96px;
        text-align: center;
        align-self: center;
        font-family: Libre Caslon Text;
        color: white;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    .ellipse-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 50px;
      img {
        width: 16px;
        height: 16px;
        margin: 0 7px;
      }
    }
  }
}

@media only screen and(max-width:768px) {
  .homepage-wrapper {
    .header-wrapper {
      .header-content {
        .title {
          width: 600px;
          font-size: 60px;
          line-height: 70px;
        }
      }
    }
  }
}

@media only screen and(max-width:600px) {
  .homepage-wrapper {
    .header-wrapper {
      .header-content {
        .title {
          width: 400px;
          font-size: 60px;
          line-height: 70px;
        }
      }
    }
  }
}

@media only screen and(max-width:400px) {
  .homepage-wrapper {
    .header-wrapper {
      .header-content {
        .title {
          width: 200px;
          font-size: 60px;
          line-height: 60px;
        }
      }
    }
  }
}