.homepage-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
  .header-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/images/header-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .header-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;
      .header-pic1 {
        width: 200px;
        height: 18px;
        align-self: center;
      }
      .header-pic2 {
        width: 200px;
        height: 50px;
        align-self: center;
      }
      .title {
        width: 700px;
        font-size: 88px;
        font-weight: bold;
        line-height: 96px;
        text-align: center;
        align-self: center;
        font-family: Libre Caslon Text;
        color: white;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    .ellipse-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 50px;
      img {
        width: 16px;
        height: 16px;
        margin: 0 7px;
      }
    }
  }
  .buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -7%;
    img {
      width: 58px;
      height: 58px;
    }
    .right {
      margin-left: 20px;
      h1 {
        font-size: 14px;
        font-family: IBM Plex Sans;
      }
      h3 {
        font-size: 14px;
        line-height: 24px;
      }
      p {
        font-size: 20px;
        font-family: Libre Caslon Text;
        font-style: normal;
      }
      .cselect {
        display: flex;
        flex-direction: row;
        background-color: #caab2a;
        align-items: center;
        padding: 12px 12px 12px 16px;
        width: 232px;
        height: 48px;
        justify-content: space-around;
        img {
          width: 24px;
          height: 24px;
        }
        select {
          border: none;
          outline: none;
          background-color: transparent;
          font-family: Libre Caslon Text;
          font-weight: 400;
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          appearance: none;
          border-radius: 4px;
        }
      }
    }
  }
  .events-section {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    margin-top: 20px;
    h1 {
      font-family: Libre Caslon Text;
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      line-height: 48px;
      margin: 0;
      padding: 0;
    }
    p {
      font-family: IBM Plex Sans;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 24px;
    }
    img {
      width: 160px;
      height: 15px;
      align-self: center;
    }
  }
}

@media only screen and(max-width:1230px) {
  .homepage-wrapper {
    .buttons-row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media only screen and(max-width:768px) {
  .homepage-wrapper {
    .header-wrapper {
      .header-content {
        .title {
          width: 600px;
          font-size: 60px;
          line-height: 70px;
        }
      }
    }
  }
}

@media only screen and(max-width:600px) {
  .homepage-wrapper {
    .header-wrapper {
      .header-content {
        .title {
          width: 400px;
          font-size: 60px;
          line-height: 70px;
        }
      }
    }
  }
}

@media only screen and(max-width:400px) {
  .homepage-wrapper {
    .header-wrapper {
      .header-content {
        .title {
          width: 200px;
          font-size: 60px;
          line-height: 60px;
        }
      }
    }
    .buttons-row {
      .right {
        .cselect {
          width: 100px;
          flex-direction: column;
          select {
            width: 100px;
            font-size: 10px;
          }
        }
        h3 {
          text-align: center;
          line-height: 12px;
        }
      }
    }
  }
}

@media only screen and(max-width:320px) {
  .homepage-wrapper {
    .buttons-row {
      .right {
        .cselect {
          width: 70px;
          flex-direction: column;
          select {
            width: 70px;
            font-size: 8px;
          }
        }
        h3 {
          text-align: center;
          line-height: 12px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
