.homepage-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
  .header-wrapper {
    width: 98%;
    height: 100vh;
    background-image: url(./assets/images/header-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1%;
    .header-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;
      .header-pic1 {
        width: 200px;
        height: 18px;
        align-self: center;
      }
      .header-pic2 {
        width: 200px;
        height: 50px;
        align-self: center;
      }
      .title {
        width: 700px;
        font-size: 88px;
        font-weight: bold;
        line-height: 96px;
        text-align: center;
        align-self: center;
        font-family: Libre Caslon Text;
        color: white;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    .ellipse-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 50px;
      img {
        width: 16px;
        height: 16px;
        margin: 0 7px;
      }
    }
  }
  .buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -5%;
    img {
      width: 58px;
      height: 58px;
    }
    .right {
      margin-left: 20px;
      h1 {
        font-size: 14px;
        font-family: IBM Plex Sans;
      }
      h3 {
        font-size: 14px;
        line-height: 24px;
      }
      p {
        font-size: 20px;
        font-family: Libre Caslon Text;
        font-style: normal;
      }
      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .shopping-basket {
          width: 22px;
          height: 19px;
          margin-right: 10px;
        }
      }
      .cselect {
        display: flex;
        flex-direction: row;
        background-color: #caab2a;
        align-items: center;
        padding: 12px 12px 12px 16px;
        width: 232px;
        height: 48px;
        justify-content: space-around;
        img {
          width: 24px;
          height: 24px;
        }
        select {
          border: none;
          outline: none;
          background-color: transparent;
          font-family: Libre Caslon Text;
          font-weight: 400;
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          appearance: none;
          border-radius: 4px;
        }
      }
    }
  }
  .events-vector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    .events-section {
      display: flex;
      flex-direction: column;
      color: white;
      margin-top: 35px;
      margin-bottom: 20px;
      .subtitle {
        text-align: center;
      }
      h1 {
        font-family: Libre Caslon Text;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        line-height: 48px;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      p {
        font-family: IBM Plex Sans;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
      }
      img {
        width: 160px;
        height: 15px;
        align-self: center;
      }
      .food-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        align-self: center;
        width: 83vw;
        .btn-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          button {
            width: 130px;
            height: 44px;
            padding: 12px 8px 12px 8px;
            background-color: #caab2a;
            border: none;
            outline: none;
            text-align: center;
          }
        }
        .card-pic {
          width: 300px;
          height: 192px;
        }
        .card-content {
          align-items: center;
          padding: 0 20px;
          padding-bottom: 10px;
          .card-title {
            width: 278px;
            height: 48px;
            text-align: left;
            h2 {
              font-family: Libre Caslon Text;
              font-weight: 500;
              font-style: normal;
              font-size: 16px;
              line-height: 24px;
              color: #caab2a;
            }
          }
          .card-time {
            font-family: IBM Plex Sans;
            font-weight: 700;
            font-style: normal;
            font-size: 16px;
            line-height: 16px;
          }
          .card-text {
            font-family: IBM Plex Sans;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 20px;
          }
          .card-button {
            width: 278px;
            height: 44px;
            padding: 12px 8px 12px 8px;
            background-color: #caab2a;
            border: none;
            outline: none;
            text-align: center;
            font-family: IBM Plex Sans;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
          }
        }
      }
    }
  }
  .our-location {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 0 70px;
    .subtitle {
      text-align: center;
    }
    h1 {
      font-family: Libre Caslon Text;
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      line-height: 48px;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    p {
      font-family: IBM Plex Sans;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 24px;
    }
    img {
      width: 160px;
      height: 15px;
      align-self: center;
    }
    .location-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      width: 92%;
      padding: 0 70px;
      align-self: center;
      .locations {
        border-radius: 15px 15px 0 0;
      }
      .card-pic {
        width: 620px;
        height: 280px;
        margin-top: -3%;
      }
      .card-content {
        display: flex;
        flex-direction: column;
        h4 {
          font-family: IBM Plex Sans;
          font-weight: 500;
          font-style: normal;
          font-size: 12px;
          line-height: 15px;
        }
        .card-title {
          color: #caab2a;
          font-family: Libre Caslon Text;
          font-weight: 400;
          font-style: normal;
          font-size: 24px;
          line-height: 30px;
          h2 {
            margin: 0;
          }
        }
        .card-subtitle {
          font-family: IBM Plex Sans;
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          line-height: 24px;
          width: 564px;
        }
        .location-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .loc-elements {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 14px;
            }
            .loc-elem-pic {
              width: 12px;
              height: 14px;
              margin-right: 5px;
            }
          }
        }
        .location-opening-hours {
          display: flex;
          flex-direction: row;
          align-items: center;
          .opening-hours {
            width: 100px;
          }
          .loc-elem-pic {
            width: 12px;
            height: 14px;
            margin-right: 5px;
          }
          .divider {
            width: 460px;
            margin-left: 15px;
          }
        }
        .weekdays {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .weekend {
          display: flex;
          justify-content: flex-start;
          .margin-left {
            margin-left: 2em;
          }
        }
        .location-button {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 232px;
          height: 56px;
          padding: 16px;
          background-color: #caab2a;
          justify-content: center;
          border: none;
          img {
            width: 20px;
            height: 20px;
          }
          p {
            width: 100px;
            text-align: start;
            margin-left: 10px;
            font-family: IBM Plex Sans;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
          }
        }
      }
    }
  }
  .history-section {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 0 70px;
    padding: 0 9%;
    .subtitle {
      text-align: center;
    }
    h1 {
      font-family: Libre Caslon Text;
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      line-height: 48px;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    p {
      font-family: IBM Plex Sans;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 24px;
    }
    img {
      width: 160px;
      height: 15px;
      align-self: center;
    }
    .history-pic {
      width: 1335px;
      margin-top: 25px;
    }
    .history-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: center;
      width: 100%;
      .history-card {
        display: flex;
        flex-direction: column;
        width: 450px;
        img {
          width: 410px;
          height: 360px;
          align-self: flex-start;
        }
        .history-card-text {
          display: flex;
          flex-direction: column;
          width: 425px;
          .history-card-title {
            font-family: IBM Plex Sans;
            font-weight: 500;
            font-style: normal;
            font-size: 14px;
            line-height: 18px;
          }
          .history-card-time {
            font-family: Libre Caslon Text;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            line-height: 30px;
            color: #caab2a;
          }
          .history-card-subtitle {
            font-family: IBM Plex Sans;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 24px;
            width: 400px;
            height: 120px;
          }
        }
      }
    }
  }
  .about-us-section {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 0 70px;
    .subtitle {
      text-align: center;
    }
    h1 {
      font-family: Libre Caslon Text;
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      line-height: 48px;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    p {
      font-family: IBM Plex Sans;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 24px;
    }
    img {
      width: 160px;
      height: 15px;
      align-self: center;
    }
    .line {
      width: 60px;
      height: 2px;
    }
    .about-us-content {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      justify-content: space-between;
      h3,
      p {
        padding: 0;
        margin: 0;
      }
      .about-us-picture {
        width: 680px;
        height: 554px;
      }
      .about-title {
        font-family: Libre Caslon Text;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        color: #caab2a;
        width: 207px;
      }
      .about-text {
        font-family: IBM Plex Sans;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 28px;
        width: 432px;
      }
      .about-us-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        .left-text {
          width: 432px;
          height: 315px;
        }
      }
      .about-us-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: row;
    .v3v4 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: -7%;
      img {
        height: 420px;
        width: 50px;
      }
    }
    .v5v6 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: -7%;
      img {
        height: 420px;
        width: 50px;
      }
    }
  }
}

@media only screen and(max-width:1230px) {
  .homepage-wrapper {
    .buttons-row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .events-vector {
      .events-section {
        .food-cards {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .our-location {
      .location-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .history-section {
      .history-pic {
        width: 650px;
      }
      .history-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        .history-card {
          margin-bottom: 15px;
        }
      }
    }
    .about-us-section {
      .about-us-content {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

// @media only screen and(max-width:768px) {
//   .homepage-wrapper {
//     .header-wrapper {
//       .header-content {
//         .title {
//           width: 600px;
//           font-size: 60px;
//           line-height: 70px;
//         }
//       }
//     }
//   }
// }

// @media only screen and(max-width:600px) {
//   .homepage-wrapper {
//     .header-wrapper {
//       .header-content {
//         .title {
//           width: 400px;
//           font-size: 60px;
//           line-height: 70px;
//         }
//       }
//     }
//   }
// }

// @media only screen and(max-width:400px) {
//   .homepage-wrapper {
//     .header-wrapper {
//       .header-content {
//         .title {
//           width: 200px;
//           font-size: 60px;
//           line-height: 60px;
//         }
//       }
//     }
//     .buttons-row {
//       .right {
//         .cselect {
//           width: 100px;
//           flex-direction: column;
//           select {
//             width: 100px;
//             font-size: 10px;
//           }
//         }
//         h3 {
//           text-align: center;
//           line-height: 12px;
//         }
//       }
//     }
//   }
// }

// @media only screen and(max-width:320px) {
//   .homepage-wrapper {
//     .buttons-row {
//       .right {
//         .cselect {
//           width: 70px;
//           flex-direction: column;
//           select {
//             width: 70px;
//             font-size: 8px;
//           }
//         }
//         h3 {
//           text-align: center;
//           line-height: 12px;
//         }
//         p {
//           font-size: 15px;
//         }
//       }
//     }
//   }
// }
